
<%= render partial: 'new' %>

<h2>Owners</h2>
<ul>
  <% if @owners %>
  <% @owners.each do |owner| %>
  <li><%= link_to owner.name, owner_path(owner) %></li>
  <% end %>
  <% else %>
  <p>No owners exist.</p>
  <% end %>
</ul>