<h2>Hi, <%= @owner.name %></h2>

<%= render partial: 'pets/new' %>

<h2>Pets</h2>
<ul>
  <% if @owner.pets %>
  <% @owner.pets.each do |pet| %>
  <li><%= link_to pet.name, owner_pet_path(@owner, pet) %></li>
  <% end %>
  <% else %>
  <p>Owner has no pets.</p>
  <% end %>
</ul>